@using QLNS.DTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IHttpContextAccessor HttpContextAccessor
@{
	Layout = "_AdminLayout";
	ViewData["Title"] = "Add Product View";
	string errorMsg = HttpContextAccessor.HttpContext.Session.GetString("errorMsg");
}
@model QLNS.ViewModels.Admin.AddProductViewModel
@section AdminHeader {
	@Html.Partial("AdminHeader")
}
@section AdminFooter {
	@Html.Partial("AdminFooter")
}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Thêm sản phẩm</div>
                            <p style="color:red; display:block">
							    @errorMsg
                            </p>
                            <hr>
                        <form method="post" asp-action="AddProductResult" asp-controller="Admin" enctype="multipart/form-data">


                                <div class="form-group">
                                    <label for="input-1">Tên sản phẩm</label>
                                    <input type="text" class="form-control" id="input-1" placeholder="Tên sản phẩm" name="product_name">
                                </div>


                                <div class="form-group">
                                    <label for="input-2">Chuyên mục</label>
                                    <div>
                                        <select class="form-control valid" id="input-6" name="product_cate" aria-invalid="false">
                                            @foreach (CatalogDTO cate in Model.Catalogs)
                                            {
                                                <option value="@cate.Id">@cate.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-1">Ngày</label>
                                    <input type="date" class="form-control" id="the-date" placeholder="Ngày đăng" name="product_day">
                                </div>
                                <div class="form-group">
                                    <label for="input-1">Giá</label>
                                    <input type="text" class="form-control" id="input-1" placeholder="Giá" name="product_price">
                                </div>
                                <div class="form-group">
                                    <label for="input-2">Trạng thái</label>
                                    <div>
                                        <select class="form-control valid" id="input-6" name="product_status" required aria-invalid="false">
                                            <option value="1">Đang bán</option>
                                            <option value="0">Bị khóa</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-2">Giảm giá</label>
                                    <div class="input-group">
                                        <input type="number" max="100" min="0" class="form-control" value="0" placeholder="Giảm ... %" name="product_discount">
                                        <div class="input-group-append">
                                            <button class="btn btn-light" type="button">%</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-2" class="col-form-label">Mô tả</label>
                                    <div>
                                        <textarea class="form-control" rows="4" id="input-17" name="product_desc"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="input-2" class="col-form-label">Nội dung</label>
                                    <div>
                                        <textarea class="form-control" rows="4" id="input-17" name="product_content"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-1">Hạn sử dụng(ngày)</label>
                                    <input type="number" min="0" class="form-control" id="input-1" placeholder="Hạn sử dụng của sản phẩm(tính theo ngày)" name="product_expixy">
                                </div>
                                <div class="form-group">
                                    <label for="input-1">Đơn vị sản phẩm</label>
                                    <input type="text" min="0" class="form-control" id="input-1" placeholder="Đơn vị của sản phẩm" name="product_unit">
                                </div>
                                <div class="form-group">
                                    <label for="input-1">Ảnh đại diện</label>
                                    
                                    <input type="text" class="form-control" readonly id="image-name" placeholder="Tên hình" name="product-image">
                                    <input type="file" class="form-control-file" id="image-upload" name="imageFile" style="display: none;" onchange="handleFileUpload(event)">
                                    <button type="button" class="btn btn-primary" onclick="document.getElementById('image-upload').click();">Chọn ảnh</button>
                                </div>
                                <div class="form-footer">
                                    <button class="btn btn-danger"><i class="fa fa-times"></i><a href="/Admin/Product">Hủy</a></button>
                                    <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Thêm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay toggle-menu"></div>
        </div>
    </div>
    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('the-date').value = today;
    function handleFileUpload(event) {
        var input = event.target;
        var file = input.files[0];

        if (file) {
            var fileName = file.name;
            var fileType = file.type;

            // Kiểm tra nếu file không phải là định dạng ảnh
            if (!fileType.startsWith('image/')) {
                alert('Vui lòng chọn một tệp ảnh hợp lệ.');
                input.value = ''; // Xóa giá trị của input
                document.getElementById('image-name').value = ''; // Xóa tên ảnh
                return;
            }

            document.getElementById('image-name').value = fileName;

           
        }
    }
    </script>
