@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IHttpContextAccessor HttpContextAccessor
@{
    string username = HttpContextAccessor.HttpContext.Session.GetString("Username");
    string fullname = HttpContextAccessor.HttpContext.Session.GetString("Fullname");
}

<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
    <div class="brand-logo">
        <a href="/Admin/Index">
            <img src="~/admin/images/logo-icon.png" class="logo-icon" alt="logo icon">
            <h5 class="logo-text">Quản lý Web Nông Sản</h5>
        </a>
    </div>
    <ul class="sidebar-menu do-nicescrol">
        <li class="sidebar-header">MENU nhân viên</li>
        <li>
            <a href="/Admin/Index">
                <i class="zmdi zmdi-view-dashboard"></i> <span>Tổng quan</span>
            </a>
        </li>

        <li>
            <a href="/Admin/Admin">
                <i class="zmdi zmdi-account-box"></i> <span>Quản lí Nhân viên</span>
            </a>
        </li>
        <li>
            <a href="/admin/User">
                <i class="zmdi zmdi-accounts"></i> <span>Quản lí Khách hàng</span>
            </a>
        </li>
        <li>
            <a href="/admin/Cate">
                <i class="zmdi zmdi-grid"></i> <span>Chuyên Mục</span>
            </a>
        </li>
        <li>
            <a href="/admin/Product">
                <i class="zmdi zmdi-widgets"></i> <span>Danh Sách Sản Phẩm</span>
            </a>
        </li>
        <li>
            <a href="/Admin/Sale">
                <i class="zmdi zmdi-calendar-check"></i> <span>Đợt giảm giá</span>
            </a>
        </li>
        <li>
            <a href="/Admin/Order">
                <i class="zmdi zmdi-shopping-cart"></i> <span>Đơn Hàng</span>
            </a>
        </li>

        <li>
            <a href="/Admin/SupplyInvoice">
                <i class="zmdi zmdi-shopping-cart"></i> <span>Nhập Hàng</span>
            </a>
        </li>
        <li>
            <a href="/Admin/Producer">
                <i class="zmdi zmdi-calendar-check"></i> <span>Nhà cung cấp</span>
            </a>
        </li>
        <li>
            <a href="/admin/news">
                <i class="icon-envelope-open"></i> <span>Tin tức</span>
            </a>
        </li>
        <li>
            <a href="/admin/data">
                <i class="zmdi zmdi-grid"></i> <span>Tạo lại gợi ý</span>
            </a>
        </li>
    </ul>
</div>
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link toggle-menu" href="javascript:void();">
                    <i class="icon-menu menu-icon"></i>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav align-items-center right-nav-link">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                    <span class="user-profile">
                        <img src="~/admin/images/avatar-admin.png" class="img-circle"
                             alt="user avatar">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item user-details">
                        <a href="javaScript:void();">
                            <div class="media">
                                <div class="avatar">
                                    <img class="align-self-start mr-3" src="~/admin/images/avatar-admin.png"
                                         alt="user avatar">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-2 user-title">Webnongsan</h6>
                                    <b> Admin:  @fullname </b>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><i class="icon-power mr-2"></i><a href="/Account/Logout"> Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
